.container {
    padding: 4em;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-alt);
    border: 1px solid var(--border);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 1em;
}

.cart-item img {
    height: 80px;
    margin-right: 2em;
}

.cart-item-left {
    display: flex;
    align-items: center;
}

.cart-item-right {
    display: flex;
    align-items: center;
    padding-right: 2em;
}

.remove-button {
    background: var(--background-alt-2);
    border: 1px solid var(--border);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    color: var(--error);
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 1em;
    cursor: pointer;
}

.remove-button:hover {
    background: var(--bacgtround-alt);
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

.total-cost {
    font-size: 1.25em;
    font-weight: bold;
}

.buy-button {
    background: var(--accent);
    border: 0;
    border-radius: 8px;
    font-size: 1em;
    padding: 0.5em 1em;
    color: var(--background);
    cursor: pointer;
}
