.game-banner{
    width: 100dvw;
}
.add-to-cart{
    background-color: cyan;
}
.game-title{
    margin: 0;
    margin-bottom: 0.5em;
    color: #f9f9f9;
    font-size: 2.25em;
    font-weight: 500;
}
.game-genres{
    list-style-type: none;
    color: #cccccc;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.genre{
    background-color: #555555;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    margin-right:0.25em ;
    padding: 0.25em 0.75em;
    font-size: 1em;
    font-weight: 300;
    cursor: pointer;
}
.container{
    padding: 4em;
}
.description{
    color: #999999;
}