.game-banner{
    width: 100dvw;
}
.game-title{
    margin: 0;
    margin-bottom: 0.5em;
    color: #f9f9f9;
    font-size: 2.25em;
    font-weight: 500;
}
.game-genres{
    list-style-type: none;
    color: #cccccc;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.genre{
    background-color: #555555;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    margin-right:0.25em ;
    padding: 0.25em 0.75em;
    font-size: 1em;
    font-weight: 300;
    cursor: pointer;
}
.container{
    padding: 4em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: end;
}
.price-cart-container {
    border-radius: 100px;
    overflow: hidden;
    height: 2em;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}
.price, .add-to-cart {
    border: 0;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
}
.price {
    background-color: #333333;
    color: #f9f9f9;
    padding: 0 1.5em !important;
    font-weight: 800;
}
.add-to-cart {
    background-color: #4BFEC9;
    cursor: pointer;
}
.description{
    color: #999999;
}
