.topbar{
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--background-darker);
    justify-content: space-between;
    align-items: center;
    padding: 0px 2em;
}

.navbar-home {
    list-style-type: none;
    margin: 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 80px;
    padding: 0;
}

.navbar-home a {
    padding: 12px 16px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 8px;
}

.navbar-home a:hover {
    background-color: var(--background-alt);
}

.signin-button {
    background-color: var(--accent);
    color: var(--background) !important;
    font-weight: bold;
    margin-left: 16px;
}

.signin-button:hover {
    background-color: var(--text-color) !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}

.container h1 {
    font-size: 3em;
}

.img-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80vw;
    margin: 4em 0;
}

.img-container img {
    width: 15vw;
    border-radius: 8px;
    box-shadow: var(--shadow-img);
}

.cta-button {
    text-decoration: none;
    background-color: var(--accent);
    color: var(--background);
    padding: 1em 1.5em;
    border-radius: 100px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: var(--text-color);
}
