.container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    align-items: flex-start;
}

.games {
    display: flex;
    flex-wrap: wrap;
}

.game-title {
    margin: 0;
    font-size: 1.25em;
    margin: 0.5em 0;
    font-weight: 500;
    flex: 1;
    min-width: 0;
}

.gamecard {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 40px;
    margin-bottom: 40px;
    word-wrap: break-word;
    hyphens: auto;
}

.game-img {
    border-radius: 12px;
    flex-shrink: 0;
}

.filter-box {
    padding: 2em;
    border-radius: 16px;
    background-color: var(--background-alt);
    border: 1px solid var(--border);
    width: 300px;
    position: sticky;
    top: 40px;
}

.filter-box h3 {
    margin: 0px;
    margin-bottom: 1em;
}

.filter-text {
    color: var(--text-color-alt-2);
    margin-left: 0.75em;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

.filter-checkmark {
    height: 16px;
    width: 16px;
    content: "";
    background-color: var(--background-alt-2);
    border: 1px solid var(--border);
    border-radius: 4px;
    position: relative;
    display: inline-block;
}

.checkbox-container:hover input~.filter-checkmark {
    background-color: var(--background-hover);
}

.filter-checkmark::after {
    content: "";
    display: none;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 10px;
}

.checkbox-container input:checked~.filter-checkmark::after {
    display: block;
}

.checkbox-container .filter-checkmark::after {
    width: 8px;
    height: 8px;
    background: var(--text-color-alt-2);
}

.checkbox-container {
    margin-top: 0.5em;
    font-size: 0.75em;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.filter-apply {
    color: var(--accent);
    background-color: transparent;
    text-decoration: none;
    position: absolute;
    top: 2.5em;
    right: 2em;
    border: 0;
}

.filter-apply:hover {
    color: var(--text-color-alt-2);
    cursor: pointer;
}

.price {
    color: var(--text-color-alt-2);
    font-size: 1.25em;
}
