{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/cart.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        <h2>My Cart</h2>
        {% if not games %}
        <p>No games added to cart.</p>
        {% endif %}
        {% for game in games %}
            <div class="cart-item">
                <div class="cart-item-left">
                    <img src="{{ url_for('static', path='images/' ~ game.banner_image) }}">
                    <h3>{{ game.title }}</h3>
                </div>
                <div class="cart-item-right">
                    Price: ${{ game.price }}
                    <form action="{{ url_for('cart_remove_game') }}" method="POST">
                        <input type="hidden" name="game_id" value="{{ game.id }}"/>
                        <input class="remove-button" type="submit" value="‒"/>
                    </form>
                </div>
            </div>
        {% endfor %}
        <div class="bottom-container">
            <div class="total-cost">Total Cost: ${{ total_price }}</div>
            <form class="buy-form" action="{{ url_for('cart_buy_all') }}" method="POST">
                <input class="buy-button" type="submit" value="Buy Now"/>
            </form>
        </div>
    </div>
{% endblock %}
