<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='css/game.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <ul class="navbar">
        <li><a href="{{ url_for('store_page') }}">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#footer">Contact Us</a></li>
    </ul>
    <img class="game-banner">
    <div class="container">
    <!-- <div class="price">$14.99</div> -->
        <!-- <button class="add-to-cart">Add to cart</button> -->
        <h2 class="game-title">Hollow Knight</h2>
    <ul class="game-genres">
        <li class="genre">Metroidvania</li>
        <li class="genre">Action</li>
        <li class="genre">Adventure</li>
        <li class="genre">Exploration</li>
        <li class="genre">+</li>
    </ul>
    <p class="description">Forge your own path in Hollow Knight! An epic action adventure through a vast ruined kingdom of insects and heroes. Explore twisting caverns, battle tainted creatures and befriend bizarre bugs, all in a classic, hand-drawn 2D style.</p>
    </div>
</body>
</html>