{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/game.css') }}">
{% endblock %}
{% block content %}
    <img src="{{ url_for('static', path='images/' ~ game.banner_image) }}" class="game-banner">
    <div class="container">
        <div>
            <h2 class="game-title">{{ game.title }}</h2>
            <ul class="game-genres">
                {% for genre in game.genres %}
                <li class="genre">{{ genre.name }}</li>
                {% endfor %}
                <li class="genre">+</li>
            </ul>
            <p class="description">{{ game.description }}</p>
        </div>
        <div class="price-cart-container">
            <div class="price">{{ game.price }}</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
    </div>
{% endblock %}
