{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/store.css') }}" />
    <script src="{{url_for('static', path='js/store.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="games">
            {% if not games %}
            <p>No games found</p>
            {% endif %}
            {% for game in games %}
                <a href="{{ url_for('game_page', game_id=game.id)}}" class="gamecard">
                    <img src="{{ url_for('static', path='images/' ~ game.card_image) }}" class="game-img" >
                    <h2 class="game-title">{{ game.title }}</h2>
                    <div class="price">${{ game.price }}</div>
                </a>
            {% endfor %}
        </div>
        <div class="filter-box">
            <form class="filter-form" action="{{ url_for('store_page') }}" method="GET">
                <h3>Genre</h3>
                {% for genre in genre_list %}
                    <label for={{ genre.id }} class="checkbox-container">
                        <input
                            id={{ genre.id }}
                            class="filter-checkbox"
                            type="checkbox"
                            name="filter-genres"
                            value={{ genre.id }}
                            {% if genre.id in filter_genres %}checked{% endif %}
                        />
                        <span class="filter-checkmark"></span>
                        <div class="filter-text" for="Action">{{ genre.name }}</div> 
                    </label>
                {% endfor %}
                    <input class="filter-apply" type="submit" value="Apply">

            </form>
        </div>
    </div>
{% endblock %}
